{% extends 'base.html'%}

{% block title %}
Оборудование
{% endblock %}


{% block content %}
<div class="m-4">
    <div class="container">
        <h2 class="text-center text-monospace m-4">Программный комплекс для обучения специалистов в области
            переработки полимерных материалов </h2>
        <hr>
        <div class="row t-4">
        <div class="col-md-3">
            <a href="admin/" class="btn btn-info">
                Админпанель (работа с базой данных)
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'economic_url' %}" class="btn btn-info">
                Расчет экономических показателей
            </a>
        </div>

    </div>
    </div>

</div>
{% endblock %}
